<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Edit Profile</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    {{ template "header" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Edit Profile</h3>
                <form id="edit-profile-form">
                    <!-- Name -->
                    <div class="form-group">
                        <label for="new-name">Name</label>
                        <input type="text" class="form-control" id="new-name" name="new-name" 
                        placeholder="Enter new name" value="{{ .Name }}" required="required">
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label for="new-email">Email</label>
                        <input type="text" class="form-control" id="new-email" name="new-email" 
                        placeholder="Enter new email" value="{{ .Email }}" required="required">
                    </div>
                    <!-- Nick -->
                    <div class="form-group">
                        <label for="new-nick">Nick</label>
                        <input type="text" class="form-control" id="new-nick" name="new-nick" 
                        placeholder="Enter new nick" value="{{ .Nick }}" required="required">
                    </div>
                    <button type="submit" class="btn btn-info">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
    {{ template "footer" }}
    {{ template "scripts" }}
    <script src="/assets/js/users.js"></script>
</body>
</html>